<p>
  searchcomponent works!
</p>

<div id="search-component">
  <h4>Employee Name Search</h4>
  <form>
  <input #searchBox>
  <button (click)="searchEmployee(searchBox.value)">Search</button>
</form>
  {{searchBox.value}}
<div>
  <table border="2">
    <tr>
    <th>EmpID</th>
    <th>EmpName</th>
    <th>Address</th>
    <th>Mobileno</th>
    <th>Qualification</th></tr>
   
<div *ngFor = ' let s of sk' (click)="getEmp(s.employee)">
    <tr>
   <td>{{s.employeeid}}</td>
 <td>{{s.employeename}}</td>
 <td>{{s.address}}</td>
<td>{{s.phoneno}}</td>
<td>{{s.qualification}}</td>
</tr>
</div>

</table>
</div>
